<!-- '<app-home></app-home>
<app-university></app-university>
<app-games></app-games> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- {{title}}
{{number}}
<button (click) =  "searchForCourses('angular', 15)"> listOfCourses</button>
<button (click) = "searchForDifferentCourses()">showCourseList</button> -->


  <!-- <p>Hello  App</p>
<button (click) = "openApp()"> search </button>
<button (click) = "searchForCourse()">availableCourses</button>
<button (click) = "searchForCourseId(15)">availableCourseId</button>
<button (click) =  "searchForCourses('angular', 15)"> listOfCourses</button>
<button (click) = "searchForDifferentCourseIds('vamsi', 27, ['vamsi','bhagrav','sai'])">provideMeTheList</button> -->

